name: Deploy Node.js to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /var/www/html/production-mis-backend
            git checkout main
            git pull origin main

            npm install
            npm run build || true

            pm2 restart production-mis-backend || pm2 start npm --name "production-mis-backend" -- start
            pm2 save
